<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>札幌</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=43.055248&amp;lon=141.345505&amp;cnt=1</string>
	<key>青森</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=40.824589&amp;lon=140.755203&amp;cnt=1</string>
	<key>盛岡</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=39.697189&amp;lon=141.153900&amp;cnt=1</string>
	<key>仙台</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=38.254162&amp;lon=140.891403&amp;cnt=1</string>
	<key>秋田</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=39.747292&amp;lon=140.083405&amp;cnt=1</string>
	<key>山形</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=38.910728&amp;lon=139.836899&amp;cnt=1</string>
	<key>福島</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=37.748909&amp;lon=140.479507&amp;cnt=1</string>
	<key>水戸</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=36.345341&amp;lon=140.369995&amp;cnt=1</string>
	<key>宇都宮</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=36.554241&amp;lon=139.897705&amp;cnt=1</string>
	<key>前橋</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=36.325371&amp;lon=139.016205&amp;cnt=1</string>
	<key>浦和</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=34.985729&amp;lon=139.854095&amp;cnt=1</string>
	<key>千葉</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=34.985729&amp;lon=139.854095&amp;cnt=1</string>
	<key>東京</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=35.680909&amp;lon=139.767372&amp;cnt=1</string>
	<key>横浜</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=35.428784&amp;lon=139.646463&amp;cnt=1</string>
	<key>新潟</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=37.920841&amp;lon=139.053299&amp;cnt=1</string>
	<key>富山</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=36.691238&amp;lon=137.220093&amp;cnt=1</string>
	<key>金沢</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=36.562500&amp;lon=136.646805&amp;cnt=1</string>
	<key>福井</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=36.066601&amp;lon=136.223801&amp;cnt=1</string>
	<key>甲府</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=35.657372&amp;lon=138.577103&amp;cnt=1</string>
	<key>長野</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=36.648708&amp;lon=138.192307&amp;cnt=1</string>
	<key>岐阜</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=35.410198&amp;lon=136.761505&amp;cnt=1</string>
	<key>静岡</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=34.974331&amp;lon=138.389099&amp;cnt=1</string>
	<key>名古屋</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=35.154919&amp;lon=136.920593&amp;cnt=1</string>
	<key>津</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=34.719109&amp;lon=136.516800&amp;cnt=1</string>
	<key>大津</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=34.719109&amp;lon=136.516800&amp;cnt=1</string>
	<key>京都</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=35.009129&amp;lon=135.754807&amp;cnt=1</string>
	<key>大阪</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=34.702509&amp;lon=135.496505&amp;cnt=1</string>
	<key>神戸</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=34.677484&amp;lon=135.175479&amp;cnt=1</string>
	<key>奈良</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=34.679359&amp;lon=135.8361059&amp;cnt=1</string>
	<key>和歌山</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=34.22191&amp;lon=135.166109&amp;cnt=1</string>
	<key>鳥取</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=35.497131&amp;lon=134.234604&amp;cnt=1</string>
	<key>松江</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=35.469051&amp;lon=133.061600&amp;cnt=1</string>
	<key>岡山</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=34.665218&amp;lon=133.922501&amp;cnt=1</string>
	<key>広島</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=34.377560&amp;lon=132.444794&amp;cnt=1</string>
	<key>山口</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=34.176689&amp;lon=131.479797&amp;cnt=1</string>
	<key>徳島</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=34.066101&amp;lon=134.562302&amp;cnt=1</string>
	<key>高松</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=34.552010&amp;lon=134.046204&amp;cnt=1</string>
	<key>松山</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=33.835091&amp;lon=132.774902&amp;cnt=1</string>
	<key>高知</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=33.552010&amp;lon=133.538300&amp;cnt=1</string>
	<key>福岡</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=33.579788&amp;lon=130.402405&amp;cnt=1</string>
	<key>佐賀</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=33.246601&amp;lon=130.303101&amp;cnt=1</string>
	<key>長崎</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=32.765419&amp;lon=129.866302&amp;cnt=1</string>
	<key>熊本</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=32.788521&amp;lon=130.714905&amp;cnt=1</string>
	<key>大分</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=33.231110&amp;lon=131.606201&amp;cnt=1</string>
	<key>宮崎</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=31.907379&amp;lon=131.552505&amp;cnt=1</string>
	<key>鹿児島</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=31.570539&amp;lon=130.552505&amp;cnt=1</string>
	<key>那覇</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=26.204830&amp;lon=127.692398&amp;cnt=1</string>
	<key>ﾆｭｰﾖｰｸ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=40.714353&amp;lon=-74.005973&amp;cnt=1</string>
	<key>ﾛﾝﾄﾞﾝ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=51.511214&amp;lon=-0.119824&amp;cnt=1</string>
	<key>ﾊﾟﾘ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=48.856614&amp;lon=2.352222&amp;cnt=1</string>
	<key>香港</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=22.396428&amp;lon=114.109497&amp;cnt=1</string>
	<key>ﾛｻﾝｾﾞﾙｽ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=34.052234&amp;lon=-118.243685&amp;cnt=1</string>
	<key>ｼｶｺﾞ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=41.878114&amp;lon=-87.629798&amp;cnt=1</string>
	<key>ｿｳﾙ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=37.566535&amp;lon=126.977969&amp;cnt=1</string>
	<key>ﾌﾞﾘｭｯｾﾙ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=50.850340&amp;lon=4.351710&amp;cnt=1</string>
	<key>ﾜｼﾝﾄﾝDC</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=38.907231&amp;lon=-77.036464&amp;cnt=1</string>
	<key>ｼﾝｶﾞﾎﾟｰﾙ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=1.352083&amp;lon=103.819836&amp;cnt=1</string>
	<key>ｼﾄﾞﾆｰ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=-33.867487&amp;lon=151.206990&amp;cnt=1</string>
	<key>ｳｨｰﾝ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=48.208174&amp;lon=16.373819&amp;cnt=1</string>
	<key>北京</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=39.904030&amp;lon=116.407526&amp;cnt=1</string>
	<key>ﾎﾞｽﾄﾝ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=42.358431&amp;lon=-71.059773&amp;cnt=1</string>
	<key>ﾄﾛﾝﾄ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=43.653226&amp;lon=-79.383184&amp;cnt=1</string>
	<key>ｻﾝﾌﾗﾝｼｽｺ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=37.774930&amp;lon=-122.419415&amp;cnt=1</string>
	<key>ﾏﾄﾞﾘｰﾄﾞ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=40.416775&amp;lon=-3.703790&amp;cnt=1</string>
	<key>ﾓｽｸﾜ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=55.751242&amp;lon=37.618422&amp;cnt=1</string>
	<key>ﾍﾞﾙﾘﾝ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=52.519171&amp;lon=13.406091&amp;cnt=1</string>
	<key>ﾌﾞｴﾉｽｱｲﾚｽ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=-34.603723&amp;lon=-58.381593&amp;cnt=1</string>
	<key>ﾌﾗﾝｸﾌﾙﾄ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=50.110922&amp;lon=8.682127&amp;cnt=1</string>
	<key>ﾊﾞﾙｾﾛﾅ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=41.385064&amp;lon=2.173404&amp;cnt=1</string>
	<key>ﾁｭｰﾘｯﾋ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=47.368650&amp;lon=8.539183&amp;cnt=1</string>
	<key>ｱﾑｽﾃﾙﾀﾞﾑ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=52.370216&amp;lon=4.895168&amp;cnt=1</string>
	<key>ｽﾄｯｸﾎﾙﾑ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=59.328930&amp;lon=18.064910&amp;cnt=1</string>
	<key>ﾛｰﾏ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=41.892916&amp;lon=12.482520&amp;cnt=1</string>
	<key>ﾄﾞﾊﾞｲ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=25.271139&amp;lon=55.307485&amp;cnt=1</string>
	<key>ﾓﾝﾄﾘｵｰﾙ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=45.508670&amp;lon=-73.553992&amp;cnt=1</string>
	<key>ﾐｭﾝﾍﾝ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=48.136720&amp;lon=11.576754&amp;cnt=1</string>
	<key>ﾒﾙﾎﾞﾙﾝ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=-37.814107&amp;lon=144.963280&amp;cnt=1</string>
	<key>ｻﾝﾊﾟｳﾛ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=-23.5489438&amp;lon=-46.638818&amp;cnt=1</string>
	<key>ﾒｷｼｺｼﾃｨ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=19.432608&amp;lon=-99.133208&amp;cnt=1</string>
	<key>ｼﾞｭﾈｰﾌﾞ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=46.198392&amp;lon=6.142296&amp;cnt=1</string>
	<key>ﾏｲｱﾐ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=25.788969&amp;lon=-80.226439&amp;cnt=1</string>
	<key>ｲｽﾀﾝﾌﾞﾙ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=41.005270&amp;lon=28.976960&amp;cnt=1</string>
	<key>ﾋｭｰｽﾄﾝ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=29.760193&amp;lon=-95.369390&amp;cnt=1</string>
	<key>ｱﾄﾗﾝﾀ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=33.748995&amp;lon=-84.387982&amp;cnt=1</string>
	<key>台北</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=25.091075&amp;lon=121.559835&amp;cnt=1</string>
	<key>ﾐﾗﾉ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=45.465454&amp;lon=9.186516&amp;cnt=1</string>
	<key>ｺﾍﾟﾝﾊｰｹﾞﾝ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=55.575097&amp;lon=12.568337&amp;cnt=1</string>
	<key>ﾊﾞﾝｺｸ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=13.727896&amp;lon=100.524124&amp;cnt=1</string>
	<key>ﾀﾞﾌﾞﾘﾝ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=53.349805&amp;lon=-6.260310&amp;cnt=1</string>
	<key>ﾑﾝﾊﾞｲ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=19.075984&amp;lon=72.877656&amp;cnt=1</string>
	<key>ﾃﾙｱﾋﾞﾌﾞ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=32.066158&amp;lon=34.777819&amp;cnt=1</string>
	<key>ﾆｭｰﾃﾞﾘｰ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=28.635308&amp;lon=77.224960&amp;cnt=1</string>
	<key>ｸｱﾗﾙﾝﾌﾟｰﾙ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=3.139003&amp;lon=101.686855&amp;cnt=1</string>
	<key>ｶｲﾛ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=30.044420&amp;lon=31.235712&amp;cnt=1</string>
	<key>ﾏﾆﾗ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=14.599512&amp;lon=120.984220&amp;cnt=1</string>
	<key>ﾖﾊﾈｽﾌﾞﾙｸﾞ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=-26.204103&amp;lon=28.047305&amp;cnt=1</string>
	<key>ﾘｵﾃﾞｼﾞｬﾈｲﾛ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=-22.903539&amp;lon=-43.209587&amp;cnt=1</string>
	<key>ｼﾞｬｶﾙﾀ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=-6.211544&amp;lon=106.845172&amp;cnt=1</string>
	<key>ﾎﾞｺﾞﾀﾞ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=4.598056&amp;lon=-74.075833&amp;cnt=1</string>
	<key>ﾅｲﾛﾋﾞ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=-1.292066&amp;lon=36.821946&amp;cnt=1</string>
	<key>ｶﾃﾗｽ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=41.138485&amp;lon=-112.317788&amp;cnt=1</string>
	<key>ﾊﾞﾝｶﾞﾛｰﾙ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=12.971599&amp;lon=77.594563&amp;cnt=1</string>
	<key>ﾗｺﾞｽ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=6.441158&amp;lon=3.417977&amp;cnt=1</string>
	<key>広州</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=23.129163&amp;lon=113.264435&amp;cnt=1</string>
	<key>ﾎｰﾁﾐﾝ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=10.823099&amp;lon=106.629664&amp;cnt=1</string>
	<key>ｶﾗﾁ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=24.893379&amp;lon=67.028061&amp;cnt=1</string>
	<key>ﾀﾞｯｶ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=23.709921&amp;lon=90.407143&amp;cnt=1</string>
	<key>ｺﾙｶﾀ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=22.572646&amp;lon=88.363895&amp;cnt=1</string>
	<key>深ｾﾝ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=22.543099&amp;lon=114.057868&amp;cnt=1</string>
	<key>重慶</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=29.563010&amp;lon=106.551557&amp;cnt=1</string>
	<key>ﾎﾉﾙﾙ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=21.306944&amp;lon=-157.858333&amp;cnt=1</string>
	<key>昭和基地</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=-69.004314&amp;lon=39.582088&amp;cnt=1</string>
	<key>ﾗｽﾍﾞｶﾞｽ</key>
	<string>http://openweathermap.org/data/2.1/find/city?lat=36.114646&amp;lon=-115.172816&amp;cnt=1</string>
</dict>
</plist>
