<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>札幌</string>
	<string>青森</string>
	<string>盛岡</string>
	<string>仙台</string>
	<string>秋田</string>
	<string>山形</string>
	<string>福島</string>
	<string>水戸</string>
	<string>宇都宮</string>
	<string>前橋</string>
	<string>浦和</string>
	<string>千葉</string>
	<string>東京</string>
	<string>横浜</string>
	<string>新潟</string>
	<string>富山</string>
	<string>金沢</string>
	<string>福井</string>
	<string>甲府</string>
	<string>長野</string>
	<string>岐阜</string>
	<string>静岡</string>
	<string>名古屋</string>
	<string>津</string>
	<string>大津</string>
	<string>京都</string>
	<string>大阪</string>
	<string>神戸</string>
	<string>奈良</string>
	<string>和歌山</string>
	<string>鳥取</string>
	<string>松江</string>
	<string>岡山</string>
	<string>広島</string>
	<string>山口</string>
	<string>徳島</string>
	<string>高松</string>
	<string>松山</string>
	<string>高知</string>
	<string>福岡</string>
	<string>佐賀</string>
	<string>長崎</string>
	<string>熊本</string>
	<string>大分</string>
	<string>宮崎</string>
	<string>鹿児島</string>
	<string>那覇</string>
	<string>ﾆｭｰﾖｰｸ</string>
	<string>ﾛﾝﾄﾞﾝ</string>
	<string>ﾊﾟﾘ</string>
	<string>香港</string>
	<string>ﾛｻﾝｾﾞﾙｽ</string>
	<string>ｼｶｺﾞ</string>
	<string>ｿｳﾙ</string>
	<string>ﾌﾞﾘｭｯｾﾙ</string>
	<string>ﾜｼﾝﾄﾝDC</string>
	<string>ｼﾝｶﾞﾎﾟｰﾙ</string>
	<string>ｼﾄﾞﾆｰ</string>
	<string>ｳｨｰﾝ</string>
	<string>北京</string>
	<string>ﾎﾞｽﾄﾝ</string>
	<string>ﾄﾛﾝﾄ</string>
	<string>ｻﾝﾌﾗﾝｼｽｺ</string>
	<string>ﾏﾄﾞﾘｰﾄﾞ</string>
	<string>ﾓｽｸﾜ</string>
	<string>ﾍﾞﾙﾘﾝ</string>
	<string>ﾌﾞｴﾉｽｱｲﾚｽ</string>
	<string>ﾌﾗﾝｸﾌﾙﾄ</string>
	<string>ﾊﾞﾙｾﾛﾅ</string>
	<string>ﾁｭｰﾘｯﾋ</string>
	<string>ｱﾑｽﾃﾙﾀﾞﾑ</string>
	<string>ｽﾄｯｸﾎﾙﾑ</string>
	<string>ﾛｰﾏ</string>
	<string>ﾄﾞﾊﾞｲ</string>
	<string>ﾓﾝﾄﾘｵｰﾙ</string>
	<string>ﾐｭﾝﾍﾝ</string>
	<string>ﾒﾙﾎﾞﾙﾝ</string>
	<string>ｻﾝﾊﾟｳﾛ</string>
	<string>ﾒｷｼｺｼﾃｨ</string>
	<string>ｼﾞｭﾈｰﾌﾞ</string>
	<string>ﾏｲｱﾐ</string>
	<string>ｲｽﾀﾝﾌﾞﾙ</string>
	<string>ﾋｭｰｽﾄﾝ</string>
	<string>ｱﾄﾗﾝﾀ</string>
	<string>台北</string>
	<string>ﾐﾗﾉ</string>
	<string>ｺﾍﾟﾝﾊｰｹﾞﾝ</string>
	<string>ﾊﾞﾝｺｸ</string>
	<string>ﾀﾞﾌﾞﾘﾝ</string>
	<string>ﾑﾝﾊﾞｲ</string>
	<string>ﾃﾙｱﾋﾞﾌﾞ</string>
	<string>ﾆｭｰﾃﾞﾘｰ</string>
	<string>ｸｱﾗﾙﾝﾌﾟｰﾙ</string>
	<string>ｶｲﾛ</string>
	<string>ﾏﾆﾗ</string>
	<string>ﾖﾊﾈｽﾌﾞﾙｸﾞ</string>
	<string>ﾘｵﾃﾞｼﾞｬﾈｲﾛ</string>
	<string>ｼﾞｬｶﾙﾀ</string>
	<string>ﾎﾞｺﾞﾀﾞ</string>
	<string>ﾅｲﾛﾋﾞ</string>
	<string>ｶﾃﾗｽ</string>
	<string>ﾊﾞﾝｶﾞﾛｰﾙ</string>
	<string>ﾗｺﾞｽ</string>
	<string>広州</string>
	<string>ﾎｰﾁﾐﾝ</string>
	<string>ｶﾗﾁ</string>
	<string>ﾀﾞｯｶ</string>
	<string>ｺﾙｶﾀ</string>
	<string>深ｾﾝ</string>
	<string>重慶</string>
	<string>ﾎﾉﾙﾙ</string>
	<string>昭和基地</string>
	<string>ﾗｽﾍﾞｶﾞｽ</string>
</array>
</plist>
